<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jinja Test page</title>
</head>
<body>
  <h1>Jinja Test : {{title}}</h1>
  abc efg
  <pre>  <!-- 줄바꿈이 반영되는 태그 -->
    abc
    efg
    ttt 한글
    {%- if True -%}
      ttt
    {%- endif -%}qqq  <!-- 개행 없애는 작업  '-' 붙이기-->
  </pre>
  <hr>
  <ul>
    {% for nav in navs recursive %}
    <li>
      <a href="">{{nav.title}} - {{loop.depth}}</a>
      {%- if nav.children -%}
      <ul>
        {{loop(nav.children)}}
      </ul>
      {%- endif -%}
    </li>
    {% endfor %}
  </ul>
</body>
</html>
